.App {
  text-align: center;
}

.app__form{
  position: fixed;
  bottom: 0;
  z-index: 1;
  background: #e9e9eb;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input{
  padding-left: 10px;
  width: 100%;
  margin: 5px;
  border: none;
}

.input:focus{
  border: none;
  outline: none;
}